{erl_opts, [debug_info]}.

{deps, [thoas]}.

{project_plugins, [rebar3_format, rebar3_hex, rebar3_ex_doc]}.

{ex_doc, [
    {source_url, <<"https://github.com/cogini/logger_formatter_json">>},
    {homepage_url, <<"https://github.com/cogini/logger_formatter_jsonc">>},
    {extras, [
          {"README.md", #{title => "Overview"}},
          <<"LICENSE">>
          % {"CHANGELOG.md", #{title => "Changelog"}},
    ]},
    {main, "README.md"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
