{erl_opts, [debug_info]}.

{deps, [thoas]}.

{project_plugins, [steamroller, rebar3_hex, rebar3_ex_doc]}.

{
  ex_doc,
  [
    {main, "README.md"},
    {
      extras,
      [
        {"README.md", #{title => "Overview"}},
        {"CHANGELOG.md", #{title => "Changelog"}},
        <<"LICENSE">>
      ]
    },
    {source_url, <<"https://github.com/cogini/logger_formatter_json">>},
    {homepage_url, <<"https://github.com/cogini/logger_formatter_jsonc">>},
    {skip_undefined_reference_warnings_on, ["README.md"]},
    {api_reference, false}
  ]
}.

{hex, [{doc, #{provider => ex_doc}}]}.
